header{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
    padding-left: 10%;
    background-color: #233D4D;
    color: white
}
.logo{
    padding-right: 100%;
    padding-top: 2%;
    width: 3em;
}
body {
    background-color: white; 
    text-align:center;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3em;
}
h2{ 
    font-family: 'Lato', sans-serif;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
}
div {
    max-width: 1600px;
    margin: 0 auto;
}
.hero-msg {
    text-align: center;
}
#background{
    height: 725px; 
}
header {
    background-color:#FCCA46(20,30,13, .7);
    color: white
}

nav a {
    background-color: #233D4D;
    color: white;
    text-align: center;
    text-decoration: none
}
.icon {
    width: 80px;
}
.book, .join {
    background-color: #FCCA46
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #233D4D;
}
main section img {
    box-sizing: border-box;
}
footer{
    background-color: #233D4D;
    color: white;
}