header{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
    padding-left: 10%;
    background-color: hsl(203, 37%, 22%);
    color: #ffffff
    font-family: 'Lato', sans-serif;
    font-family: 'Reenie Beanie', cursive;
}
.logo{
    padding-right: 100%;
    padding-top: 2%;
    width: 3em;
}
.hero-box{
    width: 100%;
}
body {
    background-color: white; 
    text-align:center;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
}
h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3em;
}
h2{ 
    font-family: 'Lato', sans-serif;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
}
div {
    max-width: 1600px;
    margin: 0 auto;
}
.hero-msg {
    text-align: center; 
}
header {
    background-color:#FCCA46(20,30,13, .7);
    color: white
}

nav a {
    background-color: #233D4D;
    color: white;
    text-align: center;
    text-decoration: none
    padding: 35px;
}
.icon {
    width: 80px;
}
.card-img {
    border: 10px solid #233D4D;
}
main section img {
    box-sizing: border-box;
}
footer{
    background-color: #233D4D;
    color: white;
    text-align: left;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom:2%;
    font-size: 60%;
}
.button-box, .join{
    background-color: #FCCA46;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}