body {
    background-color: #fe7f2d; 
}
div {
    max-width: 1600px;
    margin: 0 auto;
}
.hero-msg {
    text-align: center;
}
#background{
    height: 725px;
}
body {
    background-color: #fe7f2d; 
}
header {
    background-color:#FCCA46(20,30,13, .7);
    color: white
}

nav a:hover {
    background-color: #233D4D;
    color: white;
    text-decoration: none
}
.icon {
    width: 80px;
}
.logo {width: 80px;
}

